<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
        <title>GrandPy bot</title>
    </head>

    <body>
        <header>
            <div class="top_box">
                <p id="top_accroche">GrandPy te renseigne...</p>
            </div>
        </header>
        <div id="central_zone">
            <div id="spinner" class="spinner"><span id="spin"></span></div>
            <div id="chatbox">
                <div class="dialogue_left">
                    <img class="avatar" alt='grandpy.png' src="{{ url_for('static', filename='pics/grandpy.png') }}"/>
                    <p class="bubble">Coucou, je suis GrandPy</p>
                </div>
            </div>
            <div id="user_question">
                <form id="message" name="message" action="POST">
                    <input name="user_query" type="text" id="user_query" placeholder="saisis ta demande à GrandPy"
                        size="160" />
                    <input type="Submit" id="submit" value="Envoyer" />
                </form>
            </div>
        </div>
        <footer>
            <div class="bottom_box">
                <span id="nom">Stéphane LE BOURGEOIS</span>
                <div id="github">
                    <a href="https://icons8.com/icon/12598/github" title="Github icon by Icon8"><img
                            src="https://img.icons8.com/ios/50/000000/github--v1.png" alt="Icône GitHub" /></a>
                    <a id="link_github" href="https://github.com/SLB974/GrandPyBot-dev" target="_blank"
                        title="projet sur Github">GitHub</a>
                </div>
                <div id="trello">
                    <a href="https://icons8.com/icon/21049/trello" title="Trello icon by Icons8"><img
                            src="https://img.icons8.com/color/48/000000/trello.png" alt="Icône Trello" /></a>
                    <a id="link_trello" href="https://trello.com/b/jfQlEkwM/p7-granpy-bot" target="_blank"
                        title="Projet sur Trello">Trello</a>
                </div>
            </div>
            <img id="bottom_pic" alt="bottom picture" src="{{ url_for('static', filename='pics/bottom_pic.png') }}" />
        </footer>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />

        <script src="{{ url_for('static',filename='js/ajax.js') }}"></script>
        <script src="{{ url_for('static', filename='js/intro.js') }}"></script>
    </body>

</html>